@import 'pos'

body
  font-family Helvetica,Arial,sans-serif
  background-color #222
  color #888

h1,h2,h3,h4,h5
  margin 0
  padding 0

.App
  abspos 0px 0px 0px 0px

  > .ChatLog
    width 100%
    padding-bottom 66px

  > .StatusBar
    z-index 3
    position fixed
    bottom 34px
    width 100%

  > .arrow
    z-index 2
    position fixed
    bottom 0px
    left 10px
    color #555
    font-size 24px
    line-height 33px

  > .chatInput
    position fixed
    bottom 0
    height 34px
    width 100%
    padding-left 30px
    outline none
    border none
    background-color #111
    color #BBB
    font-size 20px
    margin-top 5px
