.StatusBar{background-color:#333;}
.StatusBar > .onlineUsers{display:inline-block;float:right;}
.StatusBar > .onlineUsers > *{display:inline-block}
.StatusBar > .onlineUsers > .label{background-color:#373;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;-moz-border-radius-bottomright:3px;-moz-border-radius-bottomleft:3px;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;padding:2px 8px 2px 8px;margin:5px;color:#6f6}
.StatusBar > .onlineUsers > .list > .user{padding:0 5px 0}
